<?php
/** @var MaxiPago_Payment_Block_Form_Ticket $this */
$code = $this->getMethodCode();
/** @var MaxiPago_Payment_Helper_Data $helper */
$helper = Mage::helper('maxipago');

$defaultDescription = $this->__('<small>Pay with Ticket</small>');
$description = $helper->getConfig('description', $code);
$banks = explode(',', $helper->getConfig('banks', $code));
?>
<fieldset class="form-list">
    <div id="payment_form_<?php echo $code; ?>" class="case maxipago-form" style="display:none;">
        <div class="boletoGrid input-box">
            <?php echo ($description) ? $description : $defaultDescription; ?>
        </div>

        <?php if (count($banks) > 1): ?>
            <div class="input-box">
                <label class="required" for="<?php echo $code ?>_bank">
                    <em>*</em> <?php echo $this->__('Bank'); ?>
                </label>
                <select name="payment[bank]" id="<?php echo $code ?>_bank" class="required-entry">
                    <?php foreach($banks as $bank): ?>
                        <option value="<?php echo $bank; ?>"><?php echo $helper->getBank($bank); ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        <?php else:?>
            <input type="hidden" name="payment[bank]" value="<?php echo $banks[0]; ?>"/>
        <?php endif;?>

        <?php if ($helper->getConfig('show_taxvat_field')): ?>
            <div id="divcpf" class="cpf-input input-box">

                <?php if ($helper->getConfig('show_taxvat_field')): ?>
                    <div class="input-box">
                        <label class="required" for="<?php echo $code ?>_cpf">
                            <em>*</em> <?php echo $this->__('Buyer\'s CPF/CNPJ'); ?>
                        </label>
                        <input type="text"
                               placeholder="<?php echo $this->__('Only Digits'); ?>"
                               id="<?php echo $code ?>_cpf"
                               class="required-entry input-text"
                               maxlength="14"
                               name="payment[cpf_cnpj]"
                               title="<?php echo $this->__('CPF / CNPJ'); ?>"
                               value="<?php echo $this->getInfoData('cpf_cnpj') ?>"
                        />
                    </div>
                <?php endif;?>
            </div>
        <?php endif;?>
    </div>
</fieldset>