<?php
/** @var MaxiPago_Payment_Block_Info_Ticket $this */
/** @var Mage_Payment_Model_Info $info */
$info = $this->getInfo();
/** @var Mage_Sales_Model_Order $order */
$order = $this->getOrder();

/** @var MaxiPago_Payment_Helper_Data $helper */
$helper = Mage::helper('maxipago');

$boletoUrl = $info->getAdditionalInformation('boleto_url');
$orderId   = $info->getAdditionalInformation('order_id');
$cpfCnpj = $info->getAdditionalInformation('cpf_cnpj');

$tid = $info->getAdditionalInformation('processor_transaction_id');
$nsu = $info->getAdditionalInformation('processor_reference_number');
?>
<p><b><?php echo $this->getMethod()->getTitle() ?></b></p>
<div>
    <?php if ($cpfCnpj): ?>
        <p><?php echo $this->__('CPF/CNPJ: %s', $cpfCnpj); ?></p>
    <?php endif;?>

    <?php if ($boletoUrl) :?>
        <p><?php echo $this->__('Clique no botão abaixo para gerar o boleto.');?></p>
        <a target="_blank" class="pay-link" href="<?php echo $boletoUrl; ?>"><span><?php echo $this->__('Gerar boleto');?></span></a>
    <?php endif;?>

    <?php if($tid): ?>
        <p><?php echo $this->__('TID: %s', $tid) ?></p>
    <?php endif; ?>

    <?php if($nsu): ?>
        <p><?php echo $this->__('NSU: %s', $nsu) ?></p>
    <?php endif; ?>
</div>

<?php echo $helper->getPullReportButton($order);?>
