<?php
/** @var MaxiPago_Payment_Block_Info_Cc $this */
/** @var Mage_Payment_Model_Info $info */
$info = $this->getInfo();
/** @var MaxiPago_Payment_Helper_Data $helper */
$helper = Mage::helper('maxipago');
/** @var Mage_Core_Helper_Data $coreHelper */
$coreHelper = Mage::helper('core');

$ccType = $info->getCcType();
$ccOwner = $info->getCcOwner();
$ccNumber = $info->decrypt($info->getCcNumberEnc());
$ccNumber = substr($ccNumber, 0,6) . '****' . substr($ccNumber, -4);

$installments = $info->getAdditionalInformation('cc_installments');
$installmentsValue = $info->getAdditionalInformation('cc_installment_value');
$interestRate = $info->getAdditionalInformation('cc_interest_rate');
$cpfCnpj = $info->getAdditionalInformation('cpf_cnpj');
$orderId = $info->getAdditionalInformation('order_id');
$status = $info->getAdditionalInformation('status');
$savedCardUsed = $info->getAdditionalInformation('cc_description');
$isRecurringProfile = $info->getAdditionalInformation('recurring_profile');
$totalWithInterest = $info->getAdditionalInformation('cc_total_with_interest');

$tid = $info->getAdditionalInformation('processor_transaction_id');
$nsu = $info->getAdditionalInformation('processor_reference_number');
?>
<p><b><?php echo $this->getMethod()->getTitle() ?></b></p>
<div class="maxipago_cc_information">

    <p><?php echo $this->__('Tipo de Cartão de Crédito: %s', $helper->getBrand($ccType)) ?></p>

    <?php if($savedCardUsed): ?>
        <p><?php echo $this->__('Número do Cartão: %s', $savedCardUsed); ?></p>
    <?php else: ?>
        <p><?php echo $this->__('Número do Cartão: %s', $ccNumber); ?></p>
        <p><?php echo $this->__('Nome no Cartão: %s', $ccOwner); ?></p>

    <?php endif;?>

    <?php if ($cpfCnpj): ?>
        <p><?php echo $this->__('CPF/CNPJ: %s', $cpfCnpj); ?></p>
    <?php endif;?>

    <?php
    $textInterest = '';
    if ($interestRate)
        $textInterest = $this->__('(juros de %s)', $interestRate.'%');
    ?>

    <?php if (!$isRecurringProfile && $installments > 1): ?>
        <p>
            <?php echo $this->__('Parcelas: %s', $installments.'x') ?>
            <?php echo $this->__('de %s', number_format($installmentsValue, 2, ',', '.'));?>
            <?php echo $textInterest;?>
        </p>
        <?php if ($totalWithInterest && $textInterest): ?>
            <p><?php echo $this->__('Total: %s', $coreHelper->currency($totalWithInterest)); ?></p>
        <?php endif; ?>
    <?php endif;?>

    <?php if($tid): ?>
        <p><?php echo $this->__('TID: %s', $tid) ?></p>
    <?php endif; ?>

    <?php if($nsu): ?>
        <p><?php echo $this->__('NSU: %s', $nsu) ?></p>
    <?php endif; ?>

</div>
